
.alertMessage{
    border: 1px;
    background-color: #FFC5C5;
    opacity: 0.8;
    padding: 5px;
    width: auto;
}

.successMessage{
    border: 1px;
    background-color: #3df78e;
    opacity: 0.8;
    padding: 5px;
    width: auto;
}